#button{
    padding: 5px;
    background-color: lightgray;

}

#howToPlayContainer{
    padding: 5px;
    width: 300px;
    height: 80px;
    border: 1px solid lightgrey;
    background-color: rgba(255, 192, 203, 0.818);
    text-align: center;
    justify-content:center;
    
 
    


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
img{
    width: 400px;
    height: 250px;
} 





